<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linbowen.wj.mapper.BookScoreMapper">

    <select id="selectByBookId" resultType="com.linbowen.wj.pojo.BookScore">
        select * from book_score where book_id = #{bookId}
    </select>

    <insert id="insertOrUpdateScore" parameterType="com.linbowen.wj.pojo.BookScore">
        insert into book_score values
            (#{userId}, #{bookId}, #{score}, now(), null)
        on DUPLICATE key update
            score = #{score}, update_time= now()
    </insert>

</mapper>